<head>
    <style>
    table, th, td {
      border: 1px solid white;
      border-collapse: collapse;
    }
    th, td {
      background-color: #96D4D4;
      padding: 10mm;
    }
    </style>
    </head>




<p>product works!</p>
<input type="button" name="Submit" value="Submit" (click)="printproduct()">
<table>
    <tr>
        <th>ProductId</th>
        <th>Product Name</th>
        <th>Product Description</th>
    </tr>
    <tr>
        <td>{{parentdata3}}</td>
        <td>{{parentdata4}}</td>
        <td>{{parentdata5}}</td>

    </tr>
</table>
